  <div class="card m-3" style="width: 18rem;">
    <img src="{{recipe.imagePath}}" class="card-img-top" alt="Recipe Image">
    <div class="card-body">
      <h5 class="card-title">{{recipe.name}}</h5>
      <p class="card-text">{{recipe.description}}</p>
    </div>
    <!-- <strong>Ingredients:</strong>
    <ul class="list-group list-group-flush"> -->
      <!-- <li *ngFor="let ingredient of recipe" class="list-group-item">
        <p>{{recipe.ingredients.name}}</p>
        <p>{{recipe.ingredients.amount}}</p>
      </li> -->
    <!-- </ul> -->
    <div class="card-body">
      <a href="#" class="btn button">VER RECETA</a>
    </div>
  </div>
