<div class="d-flex flex-column justify-content-center card-add-recipes">
  <img src="../../../../../assets/images/cooking.jpg" width="40%" height="40%" alt="Recipe Image" class="img-recipe m-auto mb-5">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">{{recipe.name}}</h5>
      <p class="card-text">{{recipe.description}}</p>
    </div>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">INGREDIENTE</th>
          <th scope="col">CANTIDAD (en gramos o unidad)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of recipe.ingredients">
          <th scope="row">{{ingredient.name}}</th>
          <td>{{ingredient.amount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
