<div class="d-flex justify-content-evenly">
  <div class="d-flex flex-column justify-content-evenly" style="width: 40%">
    <h3 class="text-center">{{currentRecipe.name}}</h3>
    <img [src]="currentRecipe.imagePath" class="rounded recipe-img" alt="recipe-img">
  </div>
  <div style="width: 40%">
    <form (ngSubmit)="saveRecipe()" #recipForm="ngForm" >
        <div class="mb-3">
              <div class="d-flex justify-content-between mb-3">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" (click)="isEdit=!isEdit" >
                  <label class="form-check-label" for="flexSwitchCheckDefault">Editar</label>
                </div>
                  <!--[checked]="isEdit"-->
                <button type="submit" [disabled]="(recipForm.invalid || recipForm.untouched || !isEdit)" class="btn login-btn button">Guardar</button>
              </div>
        </div>
        <fieldset [disabled]="!isEdit">
          <app-recipe-inputs [recipe]="currentRecipe"></app-recipe-inputs>
          <label for="description" class="form-label">Ingredientes:</label>
          <div class="mb-3">
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col"><button type="button" (click)="addnewRowIngredient()"><i class="uil uil-plus"></i></button> </th>
                  </tr>
                </thead>
                <tbody *ngIf="currentRecipe.ingredients">
                  <tr *ngFor="let ingr of currentRecipe.ingredients;index as ind" [ngClass]="{'row_delete':ingr.delete}">

                    <th scope="row">{{ind+1}}</th>
                    <td>
                        <ng-template [ngIf]="ingr.edit==true && ingr.delete!=true">
                            <input type="text" name="currentRecipe.ingredients[{{ind}}].name" [(ngModel)]="ingr.name" class="form-control" placeholder="" maxlength="50" required >
                        </ng-template>
                        <ng-template [ngIf]="ingr.edit!=true || ingr.delete==true">
                            {{ingr.name}}
                        </ng-template>
                    </td>
                    <td>
                        <ng-template [ngIf]="ingr.edit==true && ingr.delete!=true">
                            <input type="number" name="currentRecipe.ingredients[{{ind}}].amount" [(ngModel)]="ingr.amount" class="form-control" placeholder="" max="99" min="1" required >
                        </ng-template>
                        <ng-template [ngIf]="ingr.edit!=true">
                            {{ingr.amount}}
                        </ng-template>
                    </td>
                    <td><button type="button" (click)="ingr.edit=!ingr.edit" *ngIf="ingr.delete!=true" [disabled]="recipForm.invalid"><i class="uil uil-pen"></i></button>
                        <button type="button" (click)="ingr.delete=!ingr.delete"><i [ngClass]="{'uil uil-trash':!ingr.delete,'uil uil-redo':ingr.delete }"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </fieldset>
        <!--<div>{{recipForm.untouched}}</div>
        <div>{{recipForm.invalid}}</div>
        <div>{{recipForm.invalid || recipForm.touched}}</div>-->
        <!-- <div>{{currentRecipe|json}}</div> -->
    </form>
  </div>
</div>
