<div class="mb-3">
  <label for="name" class="form-label">Nombre:</label>
  <textarea type="text" name="name" class="form-control" formControlName="name" ></textarea>
  <!--[(ngModel)]="recipe.name" placeholder="" required maxlength="100"-->
</div>
<div class="mb-3">
  <label for="description" class="form-label">Descripción:</label>
  <textarea class="form-control" aria-label="description" name="description" ></textarea>
  <!--[(ngModel)]="recipe.description" required maxlength="500"-->
</div>
<div class="mb-3">
  <label for="imagePath" class="form-label">Imagen:</label>
  <textarea type="text" name="imagePath" formControlName="imagePath" formControlName="description"    class="form-control" placeholder="" ></textarea>
  <!--[(ngModel)]="recipe.imagePath" maxlength="500"-->
</div>