.navbar-brand {
  font-family: var(--font-family-2);
  font-size: var(--font-size-3);
}
.router-link-active
{
  color: var(--color-3);
  font-weight: 900;
}

.logout{
  cursor: pointer;
  color: white;
}

.recipes-link:focus {
  color: var(--color-3);
  font-weight: bold;
}
