<nav class="navbar bg-dark border-bottom border-body navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand me-4 ms-1" [routerLink]="['/recipes']">My Cookbook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link mx-4" [routerLink]="['/recipes']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">Recetas</a>
        <a class="nav-link mx-4" [routerLink]="['/ingredients']" routerLinkActive="router-link-active">Ingredientes</a>
        <a class="nav-link mx-4" [routerLink]="['/recipes/favorites']" routerLinkActive="router-link-active">Favoritos</a>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link mx-4 logout" (click)="logout()"><i class="uil uil-user"></i> Cerrar Sesión</a>
      </div>
    </div>
  </div>
</nav>


