.login-container {
  height: 100vh;
  padding: 0;
}
.login-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 65%;
}
.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.login-btn {
  background-color: var(--color-3);
  color: white;
}
.login-btn:hover {
  color:black;
}
.brand {
  font-family: var(--font-family-2);
}
.error-session {
  color: red;
  font-size: var(--font-size-2);
}
.text-session {
  font-size: var(--font-size-2);
}
.text-session a {
  color: var(--color-3);
}
.password-session {
  color: var(--color-3);
  font-size: var(--font-size-2);
}

@media (max-width: 450px) {
  .login-image {
    display: none;
  }
}
