:root {
  --color-1: #181818;
  --color-2: #FFFFFF;
  --color-3: #6e936a;
  --color-4: #879784;
  --font-size-1: 1.1rem;
  --font-size-2: 0.9rem;
  --font-size-3: 2rem;
  --font-family-1: 'Poppins', sans-serif;
  --font-family-2: 'Cedarville Cursive', cursive;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-1);
    font-family: var(--font-family-1);
    font-size: var(--font-size-1);
    color: var(--color-2);
}

input,
button {
    cursor: pointer;
    font-family: var(--font-family-1);
}

.btn-light {
  border: none;
}

button:disabled {
    opacity: .5;
}

.button {
  background-color: var(--color-3);
  font-weight: bold;
  color: white;
}

li
{
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  text-decoration: underline;
  color: var(--color-3);
  text-underline-offset: 0.2em;
}
