<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col"><button type="button" (click)="addnewRowIngredient()"><i class="uil uil-plus"></i></button> </th>
      </tr>
    </thead>
    <tbody *ngIf="ingredients">
      <tr *ngFor="let ingr of ingredients;index as ind" [ngClass]="{'row_delete':ingr.delete}">

        <th scope="row">{{ind+1}}</th>
        <td>
            <ng-template [ngIf]="ingr.edit==true && ingr.delete!=true">
                <input type="text" name="currentRecipe.ingredients[{{ind}}].name" [(ngModel)]="ingr.name" class="form-control" placeholder="" maxlength="50" required >
            </ng-template>
            <ng-template [ngIf]="ingr.edit!=true || ingr.delete==true">
                {{ingr.name}}
            </ng-template>
        </td>
        <td>
            <ng-template [ngIf]="ingr.edit==true && ingr.delete!=true">
                <input type="number" name="currentRecipe.ingredients[{{ind}}].amount" [(ngModel)]="ingr.amount" class="form-control" placeholder="" max="99" min="1" required >
            </ng-template>
            <ng-template [ngIf]="ingr.edit!=true">
                {{ingr.amount}}
            </ng-template>
        </td>
        <td><button type="button" (click)="ingr.edit=!ingr.edit" *ngIf="ingr.delete!=true" [disabled]="invalid"><i class="uil uil-pen"></i></button>
            <button type="button" (click)="ingr.delete=!ingr.delete"><i [ngClass]="{'uil uil-trash':!ingr.delete,'uil uil-redo':ingr.delete }"></i></button>
        </td>

      </tr>

    </tbody>
  </table>